# ----------------------
# Flask
# ----------------------
flask
Flask-WTF
flask-mysqldb
Flask-Migrate
Flask-Script
Flask-Login
psycopg2
bcrypt
requests==2.20.0
dialogflow==0.4.0
python-dotenv==0.8.2

# ----------------------
# Production Server
# ----------------------
gunicorn
