# ----------------------
# Flask
# ----------------------
flask
Flask-WTF
Flask-SQLAlchemy
Flask-Migrate
Flask-Script
Flask-Login
psycopg2

requests==2.18.4
dialogflow==0.4.0
python-dotenv==0.8.2

# ----------------------
# Production Server
# ----------------------
gunicorn
