{% extends 'base.html'%}

{% block main %}
    <section>
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col col col-xl-4 col-lg-4 col-md-6 col-sm-7 col-11 chat-box">
                    <!-- CARD -->
                    <div class="card px-0 border-none">
                        <!-- CARD HEADER -->
                        <div class="header d-flex align-items-center px-2 py-1">
                            <i class="fas fa-chevron-left"></i>
                            <h1 class="card-title mx-auto">Login</h1>
                            <i class="fas fa-ellipsis-h header-icon"></i>
                        </div>
                        <!-- CARD BODY -->
                        <div class="body border-top border-bottom px-2 py-0">
                            <img src="../img/b5.jpg" alt="" style="height:200px;width:250;" class="d-block mx-auto">
                            <form action="" class="px-3">
                                <!-- EMAIL -->
                                <div class="fieldset">
                                    <label for="email">Email</label>
                                    <input type="email" class="form-control form-control-md text-gray"
                                        placeHolder="eg. jogndoe@gmail.com">
                                </div>
                                <!-- PASSWORD -->
                                <div class="fieldset my-3">
                                    <label for="pwd">Password</label>
                                    <input type="text" class="form-control form-control-md">
                                </div>
                                <!-- <button class="text-center">Submit</button> -->
                                <input type="submit" value="Submit"
                                    class="mb-3 submit d-block mx-auto border-none px-5 py-2 text-white font-weight-bold">
                            </form>
                        </div>
                    </div>
                    <!-- END OF CARD -->
                </div>
            </div>
        </div>
    </section>

{% endblock %}

